In [5]:
#1st
import pandas as pd
data={
    "Tid":[1,2,3,4,5,6,7,8,9,10],
    "Refund":["Yes","No","No","Yes","No","No","Yes","No","No","No"],
    "Marital Status":["Single","Married","Single","Married","Divorced","Married","Divorced","Single","Married","Single"],
    "Taxable Income":["125K","100K","70K","120K","95K","60K","220K","85K","75K","90K"],
    "Cheat":["No","No","No","No","Yes","No","No","Yes","No","Yes"]
}
data=pd.DataFrame(data)
print(data)

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
9   10     No         Single            90K   Yes

In [7]:
#2nd
import pandas as pd
data={
    "Tid":[1,2,3,4,5,6,7,8,9,10],
    "Refund":["Yes","No","No","Yes","No","No","Yes","No","No","No"],
    "Marital Status":["Single","Married","Single","Married","Divorced","Married","Divorced","Single","Married","Single"],
    "Taxable Income":["125K","100K","70K","120K","95K","60K","220K","85K","75K","90K"],
    "Cheat":["No","No","No","No","Yes","No","No","Yes","No","Yes"]
}
data=pd.DataFrame(data)
# print(data
print(data.iloc[[0,4,7,8]])

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
4    5     No       Divorced            95K   Yes
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No

In [9]:
#3(1)
import pandas as pd
data={
    "Tid":[1,2,3,4,5,6,7,8,9,10],
    "Refund":["Yes","No","No","Yes","No","No","Yes","No","No","No"],
    "Marital Status":["Single","Married","Single","Married","Divorced","Married","Divorced","Single","Married","Single"],
    "Taxable Income":["125K","100K","70K","120K","95K","60K","220K","85K","75K","90K"],
    "Cheat":["No","No","No","No","Yes","No","No","Yes","No","Yes"]
}
data=pd.DataFrame(data)
# print(data)
print(data.iloc[3:7])

   Tid Refund Marital Status Taxable Income Cheat
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No

In [10]:
#3(2)
import pandas as pd
data={
    "Tid":[1,2,3,4,5,6,7,8,9,10],
    "Refund":["Yes","No","No","Yes","No","No","Yes","No","No","No"],
    "Marital Status":["Single","Married","Single","Married","Divorced","Married","Divorced","Single","Married","Single"],
    "Taxable Income":["125K","100K","70K","120K","95K","60K","220K","85K","75K","90K"],
    "Cheat":["No","No","No","No","Yes","No","No","Yes","No","Yes"]
}
data=pd.DataFrame(data)
print(data.iloc[4:8,2:4])

  Marital Status Taxable Income
4       Divorced            95K
5        Married            60K
6       Divorced           220K
7         Single            85K

In [11]:
#3(3)
import pandas as pd
data={
    "Tid":[1,2,3,4,5,6,7,8,9,10],
    "Refund":["Yes","No","No","Yes","No","No","Yes","No","No","No"],
    "Marital Status":["Single","Married","Single","Married","Divorced","Married","Divorced","Single","Married","Single"],
    "Taxable Income":["125K","100K","70K","120K","95K","60K","220K","85K","75K","90K"],
    "Cheat":["No","No","No","No","Yes","No","No","Yes","No","Yes"]
}
data=pd.DataFrame(data)
print(data.iloc[0:,1:4])

  Refund Marital Status Taxable Income
0    Yes         Single           125K
1     No        Married           100K
2     No         Single            70K
3    Yes        Married           120K
4     No       Divorced            95K
5     No        Married            60K
6    Yes       Divorced           220K
7     No         Single            85K
8     No        Married            75K
9     No         Single            90K

In [17]:
#4
import pandas as pd
df=pd.read_csv("Iris.csv")
print(df.iloc[:5])

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [36]:
#5
import pandas as pd
df=pd.read_csv("Iris.csv")
df=df.drop(index=4)
df=df.drop(columns="PetalLengthCm")
print(df)

      Id  SepalLengthCm  SepalWidthCm  PetalWidthCm         Species
0      1            5.1           3.5           0.2     Iris-setosa
1      2            4.9           3.0           0.2     Iris-setosa
2      3            4.7           3.2           0.2     Iris-setosa
3      4            4.6           3.1           0.2     Iris-setosa
5      6            5.4           3.9           0.4     Iris-setosa
..   ...            ...           ...           ...             ...
145  146            6.7           3.0           2.3  Iris-virginica
146  147            6.3           2.5           1.9  Iris-virginica
147  148            6.5           3.0           2.0  Iris-virginica
148  149            6.2           3.4           2.3  Iris-virginica
149  150            5.9           3.0           1.8  Iris-virginica

[149 rows x 5 columns]

In [76]:
#6
import pandas as pd
data = {
    "Employee_ID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "Diana", "Edward"],
    "Department": ["HR", "IT", "IT", "Marketing", "Sales"],
    "Age": [29, 34, 41, 28, 38],
    "Salary": [50000, 70000, 65000, 55000, 60000],
    "Years_of_Experience": [4, 8, 10, 3, 12],
    "Joining_Date": ["2020-03-15", "2017-07-19", "2013-06-01", "2021-02-10", "2010-11-25"],
    "Gender": ["Female", "Male", "Male", "Female", "Male"],
    "Bonus": [5000, 7000, 6000, 4500, 5000],
    "Rating": [4.5, 4.0, 3.8, 4.7, 3.5],
}
df=pd.DataFrame(data)
df.to_csv("employees.csv")
#(a)Shape of the DataFrame
print("Displaying Shape of the DataFrame")
print(df.shape)
#(b)Summary of the DataFrame
print("\nDisplaying Summary of the DataFrame:")
print(df.dtypes)
#(c)Descriptive Statistics
print("\nDisplaying Descriptive Statistics:")
print(df.describe())
#(d)First 5 and last 3 rows 
print("\n Displaying First 5 and last 3 rows:")
print(df.head(5))
print(df.tail(3))
#(e)-1:Average Salary of Employees
print("\nDisplaying Average Salary of the Employees:")
print(df["Salary"].mean())
#(e)-2:Total Bonus
print("\nDisplaying total bonus:")
print(df["Bonus"].sum())
#(e)-3
print("\n Displaying Youngest Employees Age:")
youngest_age=df["Age"].min()
print(youngest_age)
#(e)-4:Highest performance rating:
print("\nDisplaying Highest performance rating:")
hp_rating=df["Rating"].max()
print(hp_rating)
#(f)
sorted_df=df.sort_values(by="Salary",ascending=False)
print("\n",sorted_df)
#(g)
df["Performance Category"]=pd.cut(df["Rating"],bins=[0,4.0,4.5,5.0],labels=["Average","Good","Excellent"])
print("\n")
print(df[["Name","Performance Category"]])
# h) Check for missing values
print("\nChecking for missing values:")
print(df.isnull().sum())
#i)Renaming Employee_ID to ID
df.rename(columns={"Employee_ID": "ID"}, inplace=True)
print("\nDataFrame with renamed column:")
print(df)
#j)-(1)
Greater_5_years=df[df["Years_of_Experience"]>5]
print("\nEmployees with more than 5 years of experience:")
print(Greater_5_years)
#j)-(2)
IT_Department=df[df["Department"]=="IT"]
print("\nEmployees in IT department:")
print(IT_Department)
# k) Add Tax column (10% of Salary)
df['Tax'] = df['Salary'] * 0.10
print("\nDataFrame with Tax column:")
print(df)
# l) Save modified DataFrame to a new CSV
df.to_csv("modified_employees.csv", index=False)
print("\nModified DataFrame saved to 'modified_employees.csv'.")

Displaying Shape of the DataFrame
(5, 10)

Displaying Summary of the DataFrame:
Employee_ID              int64
Name                    object
Department              object
Age                      int64
Salary                   int64
Years_of_Experience      int64
Joining_Date            object
Gender                  object
Bonus                    int64
Rating                 float64
dtype: object

Displaying Descriptive Statistics:
       Employee_ID        Age       Salary  Years_of_Experience   Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.0
mean    103.000000  34.000000  60000.00000             7.400000  5500.0
std       1.581139   5.612486   7905.69415             3.847077  1000.0
min     101.000000  28.000000  50000.00000             3.000000  4500.0
25%     102.000000  29.000000  55000.00000             4.000000  5000.0
50%     103.000000  34.000000  60000.00000             8.000000  5000.0
75%     104.000000  38.000000  65000.00000            10.000000  6000.0
max     105.000000  41.000000  70000.00000            12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000

 Displaying First 5 and last 3 rows:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

Displaying Average Salary of the Employees:
60000.0

Displaying total bonus:
27500

 Displaying Youngest Employees Age:
28

Displaying Highest performance rating:
4.7

    Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
4   2010-11-25    Male   5000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5


      Name Performance Category
0    Alice                 Good
1      Bob              Average
2  Charlie              Average
3    Diana            Excellent
4   Edward              Average

Checking for missing values:
Employee_ID             0
Name                    0
Department              0
Age                     0
Salary                  0
Years_of_Experience     0
Joining_Date            0
Gender                  0
Bonus                   0
Rating                  0
Performance Category    0
dtype: int64

DataFrame with renamed column:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance Category
0  Female   5000     4.5                 Good
1    Male   7000     4.0              Average
2    Male   6000     3.8              Average
3  Female   4500     4.7            Excellent
4    Male   5000     3.5              Average

Employees with more than 5 years of experience:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
4  105   Edward      Sales   38   60000                   12   2010-11-25

  Gender  Bonus  Rating Performance Category
1   Male   7000     4.0              Average
2   Male   6000     3.8              Average
4   Male   5000     3.5              Average

Employees in IT department:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01

  Gender  Bonus  Rating Performance Category
1   Male   7000     4.0              Average
2   Male   6000     3.8              Average

DataFrame with Tax column:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance Category     Tax
0  Female   5000     4.5                 Good  5000.0
1    Male   7000     4.0              Average  7000.0
2    Male   6000     3.8              Average  6500.0
3  Female   4500     4.7            Excellent  5500.0
4    Male   5000     3.5              Average  6000.0